<p class="headerText">About</p>
<div class="resumeSection">
  <h3 class="skillsTitle">Experience</h3>
  <div class="resumeItem">
    <b>WBS (World Bible School)</b>
    <br>
    <i>Jr. Web Developer, 2017</i>
    <br>
    Developed and designed UX functionality and flow. Trouble shooting and work with Ruby on Rails, Postgres, Docker, and Heroku was required.
  </div>
  <div class="resumeItem">
    <b>VOM (Voice of the Martyrs)</b>
    <br>
    <i>Web Development Intern, 2016</i>
    <br>
    Developed solutions for in-house hardware and applications using JS, Angular, and jQuery, as well as helping with live web editing and creation.
  </div>
  <div class="resumeItem">
    <b>PDG Creative</b>
    <br>
    <i>Web Design Intern, 2015</i>
    <br>
    Graphic and web design internship. Helped create and implement web designs with a web developer and a team of designers.
  </div>
  <div class="resumeItem">
    <b>GTP (Global Trade Partners)</b>
    <br>
    <i>IT Intern, 2015</i>
    <br>
    IT and networking internship. Helped with integration and installation of applications and hardware. Worked directly under senior networking engineer.
  </div>
</div>

<div class="resumeSection">
  <h3 class="skillsTitle">Education &amp; Achievments</h3>
  <div class="resumeItem">
    <b>Harding University</b>
    <br>
    <i>Computer Science, 2013 – Present</i>
    <br>
    Major in Computer Science – Minor in Graphic Design
  </div>
  <div class="resumeItem">
    <b>Eagle Scout</b>
    <br>
    <i>BSA – Boy Scouts of America</i>
    <br>
    Aquired highest award of leadership in the scouting program.
  </div>

</div>
