<div class="intro" ng-controller="DumpsCtrl">
  <img class="introImage" src="../images/Avatar_Tyler-01.png"></img>
  <div class="introText">
    <p>
      Hi, I'm Tyler. I am a web developer and designer.
      I have been working as freelancer/contractor for UX centric jobs, and I constantly find myself coming up with new ideas for front end UI/UX design.
      Illustration fuels my creativity and I enjoy implementing it into my web designs when possible.
      <br><br>
      The intention of this site is to provide those who are interested an easy way to see everything that I have been up to recently.
      I try to make everything that I do connect in a meaningful way, and I hope that can be seen with this site.
    </p>
  </div>
  <div class="aboutButton">
    <a href="#!/about">About Me</a>
  </div>
</div>
