<div class="intro" ng-controller="DumpsCtrl">
  <img class="introImage" src="../images/Avatar_Tyler-01.png"></img>
  <div class="introText">
    <p>Hi, I'm Tyler. I am a web developer and designer. I have been a freelancer/contractor for 2 years, and I constantly find myself coming up with new ideas for front end UI/UX design. I am interested in a whole bunch of stuff, here is just some of it: Design, Fantasy RPGs, MMORPGs, MOBAs, Music, Northern European History &amp; Culture, Science, Tabletop RPGs, and Technology. This is a website I created to be somewhat of an online buisness card that I can send to anyone interested in the same things as me. I am involved in a lot of places around the web, so instead of worrying about telling people where they can find me, I decided to just give them this website and let them add me where they see fit.</p>
  </div>
</div>
