<p class="headerText">Skills</p>
<div class="introText">
<h3 class="skillsTitle">Languages</h3>
    <ul class="skillsText">
      <li>
        HTML
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
      </li>
      <li>
        JavaScript
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
      </li>
      <li>
        C++
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
      </li>
      <li>
        C#
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
      </li>
      <li>
        CSS
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
      </li>
      <li>
        Java
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
      </li>
      <li>
        AngularJs
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
      </li>
      <li>
        JQuery
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
      </li>
      <li>
        PHP
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        &nbsp;
        <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
      </li>
    </ul>
</div>

<h3 class="skillsTitle">Systems</h3>
  <div class="introText">
    <ul class="skillsText">
        <li>
          Windows Operating System
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
        </li>
        <li>
          Apple Operating System
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          NodeJs
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Mongo DB
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Linux (Fedora)
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Apache
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
    </ul>
  </div>

  <h3 class="skillsTitle">Software</h3>
    <div class="introText">
      <ul class="skillsText">
        <li>
          Visual Studio
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
        </li>
        <li>
          Adobe Photoshop
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
        </li>
        <li>
          Adobe Illustrator
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
        </li>
        <li>
          IntelliJ
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          GitHub Desktop
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          NetBeans
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" ></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Atom Text Editor
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Android SDK
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Wordpress
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Squarespace
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Sublime Text Editor
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
        <li>
          Source Tree
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
          &nbsp;
          <i class="fa fa-circle" aria-hidden="true" style="visibility: hidden;"></i>
        </li>
      </ul>
    </div>
