<p class="headerText">Work</p>
<div class="webDumps">

  <a href="https://instagram.com/sir_tyz">
    <div class="webDump1">
      <div class="faceText1"><i class="fa fa-instagram" aria-hidden="true"></i></div>
      <div class="descriptorText1">Instagram</div>
    </div>
  </a>

  <a href="https://github.com/SirTyz">
    <div class="webDump2">
      <div class="faceText2"><i class="fa fa-github" aria-hidden="true"></i></div>
      <div class="descriptorText2">Github</div>
    </div>
  </a>

  <a href="https://www.behance.net/tcox21592">
    <div class="webDump3">
      <div class="faceText3"><i class="fa fa-behance" aria-hidden="true"></i></div>
      <div class="descriptorText3">Behance</div>
    </div>
  </a>

</div>
